# Investment Account Size Calculator

In [160]:
import pandas as pd
pd.options.display.float_format = '${:,.0f}'.format
outputString = "A ${:,.0f} trading account is needed to generate ${:,.0f} per month, with the given assumptions."

## Assuptions

In [161]:
desired_Monthly_Income = 1000
blended_Tax_Rate_Pct = 22
average_Annual_Returns_Pct = 100
inflation_Protection_Pct = 3
risk_Tolerance_Pct = 40 #40% is considered HIGH risk tolerance

## Result

In [162]:
account_Size = -(12*desired_Monthly_Income)/(risk_Tolerance_Pct*0.01*(inflation_Protection_Pct*0.01 +
                average_Annual_Returns_Pct*0.01*(blended_Tax_Rate_Pct*0.01 - 1)))

outputString.format(account_Size, desired_Monthly_Income)

'A $40,000 trading account is needed to generate $1,000 per month, with the given assumptions.'

## DataFrame of Monthly Returns / Req'd Account Sizes

In [163]:
sizes = pd.DataFrame(data = range(100,10000,100), columns = ["monthlyIncome"])
sizes['Account Req\'d'] = -(12*sizes['monthlyIncome']).div((risk_Tolerance_Pct*0.01*(inflation_Protection_Pct*0.01 +
                average_Annual_Returns_Pct*0.01*(blended_Tax_Rate_Pct*0.01 - 1))))
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(sizes)

    monthlyIncome  Account Req'd
0             100         $4,000
1             200         $8,000
2             300        $12,000
3             400        $16,000
4             500        $20,000
5             600        $24,000
6             700        $28,000
7             800        $32,000
8             900        $36,000
9            1000        $40,000
10           1100        $44,000
11           1200        $48,000
12           1300        $52,000
13           1400        $56,000
14           1500        $60,000
15           1600        $64,000
16           1700        $68,000
17           1800        $72,000
18           1900        $76,000
19           2000        $80,000
20           2100        $84,000
21           2200        $88,000
22           2300        $92,000
23           2400        $96,000
24           2500       $100,000
25           2600       $104,000
26           2700       $108,000
27           2800       $112,000
28           2900       $116,000
29           3000       $120,000
30           3100       $124,000
31           3200       $128,000
32           3300       $132,000
33           3400       $136,000
34           3500       $140,000
35           3600       $144,000
36           3700       $148,000
37           3800       $152,000
38           3900       $156,000
39           4000       $160,000
40           4100       $164,000
41           4200       $168,000
42           4300       $172,000
43           4400       $176,000
44           4500       $180,000
45           4600       $184,000
46           4700       $188,000
47           4800       $192,000
48           4900       $196,000
49           5000       $200,000
50           5100       $204,000
51           5200       $208,000
52           5300       $212,000
53           5400       $216,000
54           5500       $220,000
55           5600       $224,000
56           5700       $228,000
57           5800       $232,000
58           5900       $236,000
59           6000       $240,000
60           6100       $244,000
61           6200       $248,000
62           6300       $252,000
63           6400       $256,000
64           6500       $260,000
65           6600       $264,000
66           6700       $268,000
67           6800       $272,000
68           6900       $276,000
69           7000       $280,000
70           7100       $284,000
71           7200       $288,000
72           7300       $292,000
73           7400       $296,000
74           7500       $300,000
75           7600       $304,000
76           7700       $308,000
77           7800       $312,000
78           7900       $316,000
79           8000       $320,000
80           8100       $324,000
81           8200       $328,000
82           8300       $332,000
83           8400       $336,000
84           8500       $340,000
85           8600       $344,000
86           8700       $348,000
87           8800       $352,000
88           8900       $356,000
89           9000       $360,000
90           9100       $364,000
91           9200       $368,000
92           9300       $372,000
93           9400       $376,000
94           9500       $380,000
95           9600       $384,000
96           9700       $388,000
97           9800       $392,000
98           9900       $396,000