# Investment Account Size Calculator

In [472]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format
outputString = "A ${:,.0f} trading account is needed to generate ${:,.0f} per month, with the given assumptions."

## Assuptions

In [547]:
desired_Monthly_Income = 1000
blended_Tax_Rate_Pct = 25
average_Annual_Returns_Pct = 100
inflation_Protection_Pct = 3
risk_Tolerance_Pct = 40 #40% is considered HIGH risk tolerance

## Formula Check: One Result

In [549]:
account_Size = -(12*desired_Monthly_Income)/(risk_Tolerance_Pct*0.01*(inflation_Protection_Pct*0.01 +
                average_Annual_Returns_Pct*0.01*(blended_Tax_Rate_Pct*0.01 - 1)))

outputString.format(account_Size, desired_Monthly_Income)

'A $41,667 trading account is needed to generate $1,000 per month, with the given assumptions.'

## DataFrame of Req'd Account Sizes and cooresponding discounts

In [557]:
sizes = pd.DataFrame(data = range(1,100000,1), columns = ["account_reqd"])
#sizes['account_reqd'] = round(-(12*sizes['monthly_income']).div((risk_Tolerance_Pct*0.01*(inflation_Protection_Pct*0.01 +
#                average_Annual_Returns_Pct*0.01*(blended_Tax_Rate_Pct*0.01 - 1)))))
sizes['annual_gross_income'] = sizes.account_reqd*0.01*average_Annual_Returns_Pct
sizes['monthly_gross_income'] = sizes.account_reqd*0.01*average_Annual_Returns_Pct/12

#with pd.option_context('display.max_rows', None, 'display.max_columns', None): display(sizes)
sizes['annual_tax_bill'] = taxBill.cTax
sizes['monthly_tax_bill'] = taxBill.cTax/12
sizes['blended_rate_pct'] = taxBill.blendedRate.mul(100)
sizes['annual_inflation_discount'] = sizes.annual_gross_income.mul(inflation_Protection_Pct * 0.01)
sizes['monthly_inflation_discount'] = sizes.annual_gross_income.mul(inflation_Protection_Pct * 0.01)/12
sizes['annual_risk_discount'] = ((sizes.annual_gross_income - sizes.annual_tax_bill - sizes.annual_inflation_discount) - (sizes.annual_gross_income - sizes.annual_tax_bill - sizes.annual_inflation_discount)*0.01*risk_Tolerance_Pct)
sizes['monthly_risk_discount'] = ((sizes.annual_gross_income - sizes.annual_tax_bill - sizes.annual_inflation_discount) - (sizes.annual_gross_income - sizes.annual_tax_bill - sizes.annual_inflation_discount)*0.01*risk_Tolerance_Pct)/12
sizes['annual_net_income'] = sizes.account_reqd.mul((0.01*average_Annual_Returns_Pct*(1-0.01*(sizes.blended_rate_pct))-(0.01*inflation_Protection_Pct))*0.01*risk_Tolerance_Pct)
sizes['monthly_net_income'] = sizes.account_reqd.mul((0.01*average_Annual_Returns_Pct*(1-0.01*(sizes.blended_rate_pct))-(0.01*inflation_Protection_Pct))*0.01*risk_Tolerance_Pct).div(12)
sizes.rename(columns={'account_reqd':'investment_account_balance'}, inplace=True)
sizes.set_index('investment_account_balance', inplace=True)
sizes.loc[41667:, ['monthly_gross_income', 'monthly_tax_bill', 'monthly_inflation_discount','monthly_risk_discount', 'monthly_net_income']]
#output assumptions above table

,monthly_gross_income,monthly_tax_bill,monthly_inflation_discount,monthly_risk_discount,monthly_net_income
investment_account_balance,,,,,
41667,"3,472.25",409.59,104.17,"1,775.09","1,183.40"
41668,"3,472.33",409.61,104.17,"1,775.13","1,183.42"
41669,"3,472.42",409.63,104.17,"1,775.17","1,183.45"
41670,"3,472.50",409.65,104.17,"1,775.21","1,183.47"
41671,"3,472.58",409.67,104.18,"1,775.24","1,183.50"
...,...,...,...,...,...
99995,"8,332.92","1,501.64",249.99,"3,948.77","2,632.52"
99996,"8,333.00","1,501.66",249.99,"3,948.81","2,632.54"
99997,"8,333.08","1,501.68",249.99,"3,948.85","2,632.57"
99998,"8,333.17","1,501.70",250.00,"3,948.88","2,632.59"
99999,"8,333.25","1,501.72",250.00,"3,948.92","2,632.61"

In [555]:
#FV Calculation with continuous compounding
FV = 8000 * (1 + 75/100/100000)**(4*100000) # approx. with large m
FV

160682.48770240715

### Tax Calculator

[source](https://turbotax.intuit.com/tax-tips/investments-and-taxes/guide-to-short-term-vs-long-term-capital-gains-taxes-brokerage-accounts-etc/L7KCu9etn)

In [455]:
grossTradingIncome = 45000

tb1_rate = 0.1
tb1_income = 9950

tb2_rate = 0.12
tb2_income = 40525

tb3_rate = 0.22
tb3_income = 86375

tb4_rate = 0.24
tb4_income = 164925

tb5_rate = 0.32
tb5_income = 209425

tb6_rate = 0.35
tb6_income = 523600

tb7_rate = 0.37
tb7_income = 526601

taxBill = pd.DataFrame(data=range(1,600000,1), columns=['taxableIncome']) 
taxBill.loc[ : tb1_income, ['tax']] = tb1_rate
taxBill.loc[tb1_income + 1 : tb2_income, ['tax']] = tb2_rate
taxBill.loc[tb2_income + 1 : tb3_income, ['tax']] = tb3_rate
taxBill.loc[tb3_income + 1 : tb4_income, ['tax']] = tb4_rate
taxBill.loc[tb4_income + 1 : tb5_income, ['tax']] = tb5_rate
taxBill.loc[tb5_income + 1 : tb6_income, ['tax']] = tb6_rate
taxBill.loc[tb6_income + 1 : tb7_income, ['tax']] = tb7_rate
taxBill.loc[tb7_income + 1 : , ['tax']] = tb7_rate
taxBill['cTax'] = taxBill.tax.cumsum()
pd.options.display.float_format = '{:,.4f}'.format
taxBill['blendedRate'] = taxBill.cTax.div(taxBill.taxableIncome)
taxBill.loc[grossTradingIncome:grossTradingIncome, ['taxableIncome', 'cTax', 'blendedRate']]
#grossTradingIncome

       taxableIncome       cTax  blendedRate
45000          45001 5,648.6000       0.1255