# Investment Account Size Calculator

In [144]:
import pandas as pd
pd.options.display.int_format = '${:,.0}'.format
pd.options.display.float_format = '${:,.0f}'.format

OptionError: 'You can only set the value of existing options'

## Assuptions

In [140]:
desired_Monthly_Income = 1000
blended_Tax_Rate_Pct = 25
average_Annual_Returns_Pct = 100
inflation_Protection_Pct = 3
risk_Tolerance_Pct = 40 #40% is considered HIGH risk tolerance

## Result

In [141]:
account_Size = -(12*desired_Monthly_Income)/(risk_Tolerance_Pct*0.01*(inflation_Protection_Pct*0.01 +
                average_Annual_Returns_Pct*0.01*(blended_Tax_Rate_Pct*0.01 - 1)))
"A ${:,.0f} trading account is needed to generate ${:,.0f} per month, assuming the above."\
                .format(account_Size, desired_Monthly_Income)

'A $41,667 trading account is needed to generate $1,000 per month, assuming the above.'

## DataFrame of Monthly Returns / Req'd Account Sizes

In [142]:
sizes = pd.DataFrame(data = range(100,10000,100), columns = ["monthlyIncome"])
sizes['Account Req\'d'] = -(12*sizes['monthlyIncome']).div((risk_Tolerance_Pct*0.01*(inflation_Protection_Pct*0.01 +
                average_Annual_Returns_Pct*0.01*(blended_Tax_Rate_Pct*0.01 - 1))))
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(sizes)

    monthlyIncome  Account Req'd
0             100         $4,167
1             200         $8,333
2             300        $12,500
3             400        $16,667
4             500        $20,833
5             600        $25,000
6             700        $29,167
7             800        $33,333
8             900        $37,500
9            1000        $41,667
10           1100        $45,833
11           1200        $50,000
12           1300        $54,167
13           1400        $58,333
14           1500        $62,500
15           1600        $66,667
16           1700        $70,833
17           1800        $75,000
18           1900        $79,167
19           2000        $83,333
20           2100        $87,500
21           2200        $91,667
22           2300        $95,833
23           2400       $100,000
24           2500       $104,167
25           2600       $108,333
26           2700       $112,500
27           2800       $116,667
28           2900       $120,833
29           3000       $125,000
30           3100       $129,167
31           3200       $133,333
32           3300       $137,500
33           3400       $141,667
34           3500       $145,833
35           3600       $150,000
36           3700       $154,167
37           3800       $158,333
38           3900       $162,500
39           4000       $166,667
40           4100       $170,833
41           4200       $175,000
42           4300       $179,167
43           4400       $183,333
44           4500       $187,500
45           4600       $191,667
46           4700       $195,833
47           4800       $200,000
48           4900       $204,167
49           5000       $208,333
50           5100       $212,500
51           5200       $216,667
52           5300       $220,833
53           5400       $225,000
54           5500       $229,167
55           5600       $233,333
56           5700       $237,500
57           5800       $241,667
58           5900       $245,833
59           6000       $250,000
60           6100       $254,167
61           6200       $258,333
62           6300       $262,500
63           6400       $266,667
64           6500       $270,833
65           6600       $275,000
66           6700       $279,167
67           6800       $283,333
68           6900       $287,500
69           7000       $291,667
70           7100       $295,833
71           7200       $300,000
72           7300       $304,167
73           7400       $308,333
74           7500       $312,500
75           7600       $316,667
76           7700       $320,833
77           7800       $325,000
78           7900       $329,167
79           8000       $333,333
80           8100       $337,500
81           8200       $341,667
82           8300       $345,833
83           8400       $350,000
84           8500       $354,167
85           8600       $358,333
86           8700       $362,500
87           8800       $366,667
88           8900       $370,833
89           9000       $375,000
90           9100       $379,167
91           9200       $383,333
92           9300       $387,500
93           9400       $391,667
94           9500       $395,833
95           9600       $400,000
96           9700       $404,167
97           9800       $408,333
98           9900       $412,500